[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
pyjwt = "*"

[packages]
flask = "*"
python-dateutil = "==2.8.0"
flask-jwt-router = {editable = true,path = "."}
pyjwt = "*"
pipenv = "*"

[requires]
python_version = "3.7"
