[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
pyjwt = "*"
Flask-SQLAlchemy = "*"
Sphinx = "*"
tox = "*"

[packages]
flask = "*"
python-dateutil = ">=2.8.0"
flask-jwt-router = {editable = true,path = "."}
pyjwt = "*"
pylint = "*"

[requires]
python_version = "3.9"
