[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
pyjwt = "*"
Flask-SQLAlchemy = "*"
Sphinx = "*"
tox = "*"
pylint = "*"

[packages]
flask = ">=1.0"
python-dateutil = ">=2.8.0"
pyjwt = ">=1.7.1"

